<!--No Need of HTML Added To Ts File -->

<!-- 
<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="header">
      <h1 class="header-text">Hello {{ userName }}</h1>
      <p>You have 0 new projects to do. Keep up the good work!</p>
    </div>

    <div class="project-info">
      <h2>Project Infy</h2>
      <div class="status-container">
        <div class="status">
          <div class="circle red"></div>
          <span>Bugs</span>
        </div>
        <div class="status">
          <div class="circle violet"></div>
          <span>Backend</span>
        </div>
        <div class="status">
          <div class="circle blue"></div>
          <span>Frontend</span>
        </div>
        <div class="status">
          <div class="circle green"></div>
          <span>Integration</span>
        </div>
      </div>
    </div>

    <div class="task-sections">
      <div class="task-section">
        <h3>To Do 
          <button (click)="addCard('To Do')">+</button>
        </h3>
        <div *ngFor="let task of tasks" [ngClass]="{
          'red': task.type === 'Bugs', 
          'violet': task.type === 'Backend', 
          'blue': task.type === 'Frontend', 
          'green': task.type === 'Integration',
          'task-box': true}">
          <p>{{ task.subject }}</p>
        </div>
      </div>

      <div class="task-section">
        <h3>In Progress 
          <button (click)="addCard('In Progress')">+</button>
        </h3>
        <div *ngFor="let task of tasks" [ngClass]="{
          'red': task.type === 'Bugs', 
          'violet': task.type === 'Backend', 
          'blue': task.type === 'Frontend', 
          'green': task.type === 'Integration',
          'task-box': true}">
          <p>{{ task.subject }}</p>
        </div>
      </div>

      <div class="task-section">
        <h3>Review 
          <button (click)="addCard('Review')">+</button>
        </h3>
        <div *ngFor="let task of tasks" [ngClass]="{
          'red': task.type === 'Bugs', 
          'violet': task.type === 'Backend', 
          'blue': task.type === 'Frontend', 
          'green': task.type === 'Integration',
          'task-box': true}">
          <p>{{ task.subject }}</p>
        </div>
      </div>

      <div class="task-section">
        <h3>Done 
          <button (click)="addCard('Done')">+</button>
        </h3>
        <div *ngFor="let task of tasks" [ngClass]="{
          'red': task.type === 'Bugs', 
          'violet': task.type === 'Backend', 
          'blue': task.type === 'Frontend', 
          'green': task.type === 'Integration',
          'task-box': true}">
          <p>{{ task.subject }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
