<div class="sidebar">
    <h2 class="sidebar-heading">MY KANBAN</h2>
    <br>
    <p class="pm">Menu</p>
    <ul class="menu-list">
        <li class="menu-item" [class.active]="isCurrentRoute('/task-board')">
            <a routerLink="/task-board" routerLinkActive="active">
                <span class="icon material-icons">dashboard</span>
                Task Board
            </a>
        </li>
        <li class="menu-item" [class.active]="isCurrentRoute('/my-tasks')">
            <a routerLink="/my-tasks" routerLinkActive="active">
                <span class="icon material-icons">task</span>
                My Tasks
            </a>
        </li>
        <li class="menu-item" [class.active]="isCurrentRoute('/my-project-teams')">
            <a routerLink="/my-project-teams" routerLinkActive="active">
                <span class="icon material-icons">groups</span>
                My Project Teams
            </a>
        </li>
        <li class="menu-item" [class.active]="isCurrentRoute('/profile')">
            <a routerLink="/profile" routerLinkActive="active">
                <span class="icon material-icons">account_circle</span>
                Profile
            </a>
        </li>
    </ul>
    <div class="addbtn">
        <button type="button" id="tedit" (click)="onLogout()">LOGOUT</button>
    </div>
</div>