mat-form-field {
  display: block;
  margin-bottom: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.popup-form {
  max-height: 90vh; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollable-content {
  overflow-y: auto; 
  max-height: calc(90vh - 120px); 
  padding-right: 8px; 
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}
.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
